@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*Certain types of motion-based animations can cause discomfort for some users. In particular, people with vestibular disorders have sensitivity to certain motion triggers. so we use this @media.*/
@media (prefers-reduced-motion: no-preference){
    *{
  scroll-behavior: smooth;
    }
}
body
{
    font-family: 'Raleway', sans-serif;
    margin:0;
    line-height: 1.6;
}
#showcase
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
a
{
    text-decoration: none;
    color: #111111;
}
nav{
    height: 60px;
    width: 100%;
    position: fixed;
    color: #dd4814;
    background-color: #ffffff;
}
nav ul
{
    margin: 0;
    padding: 0;
    margin-right: 8rem;
}
nav li
{
    display: inline;
    float: right;
}
nav a
{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 17px 0;
}
nav li:hover
{
    border-bottom: #dd4814 solid 1px;
}
a:hover
{
    color: #dd4814;
}
.download
{
    background-color: #dd4814;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.container
{
    background-color: #f4f4f4;
    max-width: 1360px;
    margin: 0 auto;
    padding: 7rem 0;
}
.section-main
{
    text-align: center;
}
.container h1
{
    font-size: 6rem;
    color: #dd4814;
    font-weight: 50;
    margin-bottom: 0;
    margin-top: 0;
}
.container h2
{
    font-size: 2rem;
    font-weight: 50;
    margin:0;
    color: #252525;
}
.container p
{
    padding: 0 10rem 0 10rem;
    margin: 0;
}
.container button
{
    padding: 0.4rem 4rem 0.4rem 4rem;
    margin: 2.5rem;
    text-align: center;
    color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    background-color: #dd4814;
    border: #dd4814 solid 1px;
    border-radius: 3px;
    font-size: 1rem;
}
#logo
{
    position: absolute;
    bottom: -18px;
    left: 130px;
    border-bottom: #f4f4f4 solid 1px;
    
}
#animate
{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim 
{
	0% {
		transform: translateY(-120px);
	}
	50% {
		transform: translateY(0px);
	}
}
#animate1
{
    animation: myAnim1 2s ease 0s 1 normal forwards;
}
@keyframes myAnim1 
{
	0% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(0px);
	}
}
#animate2
{
    animation: myAnim2 2s ease 0s 1 normal forwards;
}
@keyframes myAnim2
{
	0% {
		transform: translateY(-45px);
	}
	50% {
		transform: translateY(0px);
	}
}
#sec-h2
{
    color: #dd4814;
    font-weight: bold;
}
.container-why
{
    display: grid;
    column-gap: 180px;
    row-gap: 10px;
    list-style: none;
    grid-template-columns: 350px 350px;
    grid-template-rows: 80px 130px 130px;
    justify-content: center;
}
ul
{
    margin-top: 2.5rem;
}
.container-why li
{
    transition: 0.3s;
}
.container-why li:hover
{
    transform: translateY(-10px);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: white solid 1px;
    border-radius: 10px;
    padding: 5px;
}
section ul li h3
{
    font-weight: bolder;
    margin: 0;
}
section ul li h4
{
    margin-top: 0;
    font-weight: lighter;
    line-height: 20px;
    font-size: 1rem;
}
.container-help
{
    display: flex;
    list-style: none;
    justify-content: center;
}
.container-help li
{
    border: #fafafa solid 1px;
    background-color: white;
    padding: 20px;
    margin-left: 50px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
.container-help li:hover
{
    transform: scale(1.12);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* transform: translateY(-45px); */
}
section ul li img
{
    width: 10vh;
    height: 10vh;
}
.container-forum {
    display: flex;
    justify-content: space-between;
}

.container-forum > ul {
    flex: 1;
}
section ul
{
    list-style: none;
}
section ul .update
{
    position: relative;
    left: 90px;
    bottom: 50px;
}
section ul .update-h3
{
    position: relative;
    left: 135px;
    bottom: 50px;
}
section ul .updateleft
{
    position: relative;
    right: 80px;
    bottom: 50px;
}
section ul .updateleft-h3
{
    position: relative;
    right: 30px;
    bottom: 50px;
}
section ul li ul li
{
    padding-left: 5px; 
    border-left: wheat solid 0.5px;
    /* background-color: red; */
    border-bottom: wheat solid 0.5px;
}
section ul li ul li:hover
{
    border-left: #dd4814 solid 1px;
    transform: translateX(45px);
}
.h2-forum
{
    padding-top: 60px;
}
section ul li ul li a
{
    color: #dd4814;
    padding-left: 10px;
}
section ul li ul li h4
{
    font-size: 17px;
}
footer ul
{
    list-style: none;
}
footer ul li h3
{
    font-size: 1rem;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-weight: lighter;
}
footer ul li
{
    display: inline-block;
    transition: .3s;
}
footer ul li:hover
{
    transform: translateY(-10px);
}
.footer-cols
{
    padding-left: 60px;
    background-color: #dd4814;
    height: 60px;
}
.footer-bottom
{
    background-color: #c9340a;
    text-align: center;
    padding: 15px 15px;
    color: #f4f4f4;
    font-size: 12px;
}
.footer-bottom img
{
    margin-top: 10px;
}
